/* 이현주 */
/* 폰트 */
@font-face {
  font-family: SCDream3;
  src: url("../Fonts/S-Core_Dream_OTF/SCDream3.otf");
}
* {
  font-family: SCDream3;
  margin-bottom: 0.3rem;
}
:root{
    --SkyBlue1: #DCEDFF ;
    --SkyBlue2 :#94b0da ;
    --Blue: #454ade;
    --DarkBlue: #1B1F3B;
  }
 /* 상단바, 사이드바 시작*/
header{
  position: relative;
  margin-top: 1%;
  margin-left: 11%;
  background-color: white;
  color: var(--Blue);

  padding: 0.1%;
  min-width: 500px;
  
}
/* 보관함 */
.collection{
  float: right;
  margin-right: 15%;
  margin-top: 1%;
  cursor: pointer;
}
/* 검색 */
.search{
  float: right;
  margin-right: 2%;
  margin-top: 1%;
  cursor: pointer;
}

/* 사이드바 클릭버튼을 꾸미는 스타일 지정  */
.moreInfo input {
  /* 포지션 절대적요소로 변경 */
  position: absolute; 
  /* 부모요소 배경색상을 물려받음 */
  background-color: transparent;
  /* 보더 삭제 */
  border: none;
  color: #454ade;
  font-size: 2rem;
  top: 1%;
  left: -1%;
  width: 6%;
}
.closeside input {
  /* 포지션 절대적요소로 변경 */
  position: absolute; 
  /* 부모요소 배경색상을 물려받음 */
  background-color: transparent;
  /* 보더 삭제 */
  border: none;
  left: 10rem;
}

/* 전체적인 레이아웃을 그리드로 주고 최소 높이를 100vh, 최고 넓이를 100vw로 주고, 열기준 0.5:2:0.5 비율로 전체적인 틀을 완성 */
/* 메뉴바의 가로폭을 vw로 변경, 패딩탑과 레프트 삭제 */
.moreInfo-icon {
  /* z인덱스값을 주어 모든요소보다 먼저 보이도록 조정 */
  z-index: 1000;
  /* display를 블럭요소로 변경 크기조정을 위해 */
  display: block;
  /* 박스의 크기를 경계선을 기준으로 크기조정 */
  box-sizing: border-box;
  /* 사이드바는 픽스로 고정 */
  position: fixed;
  background-color: #94b0da;
  color: #fff;
  width: 25vw;
  height: 100%;
  top: 0;
  left: -50%;
  bottom: 0;
  transition: 1s ease;
}

/* 사이드 바 닫는 아이콘 */
.closeside{
  float: right;
  cursor: pointer;
}

/* 사이드 바 여는 아이콘 */
.moreInfo{
  position: relative;
  cursor: pointer;
  top: 0.3rem;
}


/* 프로필 */
.profile-image {
  /* 평소에는 이미지 모습을 숨김 */
  overflow: hidden;
  /* 플렉스요소를 부여하여 정중앙에 위치하는것을용이하게 설정 */
  display: flex;
  /* 세로축중간 */
  align-items: center;
  /* 가로축 중간 */
  justify-content: center;
  height: 0.01%;
  border-radius: 50%;
  padding: 30%;
  margin: 10% 20%;
  top: 0;
  left: 0;
  position: relative;
  cursor: pointer;
  filter: contrast(170%);;
}
.profile-image:hover{
  filter: contrast(190%);;
}
.profile-image img {
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.userName > u {
  text-decoration: none;
}


/* 메뉴바 닉네임사이즈 vw로 변경, top left 요소 삭제 */
.userName {
  color: #fff;
  font-size: 3vh;
  border: none;
  /* position: absolute; */
  /* 부모요소크기만큼 가로값을 받고 그 중간에 닉네임지정 */
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.userName:hover{
  color: var(--DarkBlue);
}


/* 사이드바의 리스트들 절대적요소 삭제, 패딩 왼쪽값 0으로 조정, 폰트사이즈 vw로 변경  */
.sideBar-lists {
  list-style: none;
  padding-left: 0;
  font-size: 2.5vh;
} 

/* 마진요소 5%로 변경 */
.sideBarComponent {
  padding: 5% 0;
  cursor: pointer;
}

/* 사이드바요소의 첫번째 요소인 검색부분 마진탑을 20%로 변경 */
.sideBarComponent:nth-child(1) {
  margin-top: 10%;
}

/* 사이드바 호버시 색상변경 */
.sideBarComponent:hover {
  background-color: #454ade;
}

.sideBarComponent > a {
  color: #fff;
  /* 밑줄삭제 */
  text-decoration: none;
  display: block;
  text-align: center;
}
/* 아이콘 */

.bi{
  padding: 1rem;
}

/* 개척웹툰 */
.name{
  display: inline;
  cursor: pointer;
}

/* 수평선 */
hr.line{
  width: 86%;
  margin-left: 0%;
  border-top: 1.4px solid #bbb;
  border-bottom: 0px;
}
/* 상단바, 사이드바 끝*/





/* writenotice 시작 */
  main{
    position: static;
    text-align: center;
    margin: 20%;
    margin-top: 1rem;
    min-width: 400px;
  }
  #contentInput{
    width: 100%;
    height: 21rem;
    margin-bottom: 1rem;
  }
  .write{
    position: static;
    background-color: var(--Blue);
    float: right;
    color:  white;
    padding: 1%;
    text-align: center;
    font-size: 1rem;
  
    width: 10%;
    border: 0;
    border-radius: 1rem;
    min-width: 80px;
  }
  .write:hover {
    background-color: var(--DarkBlue);
    color: white;
  }