<!-- 이현주 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../CSS/join.css">

    <!-- bootstrap -->
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- bootstrap-icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    
  <title>개척웹툰</title>
</head>

<body>
     <!-- <header> = 상단바-->
        <header>
            <div>
                <section class="moreInfo-icon">
    
                    <label class="closeside">
                    <i class="bi bi-arrow-left fs-1"></i><input type="button" class="closesideBar"></i> 
                    </label>
    
                    <div class="profile-image">
                        <a onclick="location.href='./profile.html'"><img src="./../Background/window.jpeg" alt="window" /></a>
                    </div>
                    
                    <div class="userName" onclick="location.href='../Components/rogin.html'"><u>웹프실습3팀</u></div>
                    <ul class="sideBar-lists">
                        <li class="sideBarComponent" onclick="location.href='./search.html'"><a>검색</a></li>
                        <li class="sideBarComponent" onclick="location.href='./notice.html'"><a>게시판</a></li>
                        <li class="sideBarComponent" onclick="location.href='./SaveBox.html'"><a>보관함</a></li>
                        <li class="sideBarComponent" onclick="location.href='./랜덤웹툰페이지/랜덤웹툰페이지.html'"><a>랜덤웹툰추천</a></li>
                        <li class="sideBarComponent" onclick="location.href='./Setting.html'"><a>설정</a></li>
                    </ul>
                </section>
            </div>
            <label class="moreInfo">
                <i class="bi bi-list fs-1"></i><input type="button"class="sideBar"></i> 
            </label>
            
            <h2 class ="name" onclick="setMainforweekDay();">개척웹툰</h2>
            <div class = "collection">
                <i class="bi bi-collection fs-2" onclick="location.href='./SaveBox.html'"></i>    
            </div>
            <div class ="search">
                <i class="bi bi-search fs-2" onclick="location.href='./search.html'"></i>   
            </div>
    
            <hr class = "line">
        </header>
        <!--상단바 끝-->

    <main>
        <h2 class ="join">회원가입</h2>

        <div class = "Essentialinfo">
            <label for="idInput">*</label>
            <input type="text" placeholder="아이디" id="idInput"> 
        </div>

        <div class = "Essentialinfo">
        <label for="passwordInput">*</label>
        <input type="password" placeholder="비밀번호" id="passwordInput">
        </div>

        <div class = "Essentialinfo">
            <label for="re-passwordInput">*</label>
            <input type="password" placeholder="비밀번호 재확인" id="re-passwordInput">
        </div>

        <div class = "Essentialinfo">
            <label for="NickNameInput">*</label>
            <input type="text" placeholder="닉네임" id="NickNameInput">
        </div>

        <div class = "Essentialinfo">
            <label for="NameInput">*</label>
            <input type="text" placeholder="이름" id="NameInput">
        </div>

        <div class = "Essentialinfo">
            <label for="e-mailInput">*</label>
            <input type="email" placeholder= "e-mail" id="e-mailInput">
        </div>

        <div class = "Optionalinfo">
            <input type="tel" placeholder= "전화번호" id="PhoneNumInput">
        </div>
        <div class ="agree">
            <label > 개척웹툰에서 제공하는 서비스 이용약관에 동의합니다.</label>
            <input type="checkbox" id="check">
            <a class = "termsOfService" href="../Components/terms_of_service.html" >약관보기</a>
        </div>
        <div>
            <button class = "joinButton" onclick = "Join();">가입하기</button>
        </div>
      
        <div class = "AnotherLogIn">
            <br><a>다른 계정으로 가입하기</a></br>
            <br><button class = "Naver">네이버 아이디로 가입하기</button></br>
            <br><button class = "Kakao">카카오 아이디로 가입하기</button></br>
            <br><button class = "Google">구글 아이디로 가입하기</button></br>
        </div>
    </main>
    <script src = "../JS/join.js"></script>
</body>

</html>