<!-- 조정미 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Webtoon Web Profile</title>

    <!-- css -->
    <link rel="stylesheet" href="../CSS/profile.css" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

</head>
<body>
    <!-- <header> = 상단바-->
    <header>
        <div>
            <section class="moreInfo-icon">
    
                <label class="closeside">
                <i class="bi bi-arrow-left fs-1"><input type="button" class="closesideBar"></i> 
                </label>
    
                <div class="profile-image">
                    <a onclick="location.href='../Components/profile.html'">
                        <img class="sidebar-profile" src="../Background/window.jpeg" alt="window">
                    </a>
                </div>
                    
                <div class="userName" onclick="location.href='../Components/rogin.html'"><u>웹프실습3팀</u></div>
                <ul class="sideBar-lists">
                    <li class="sideBarComponent" onclick="location.href='./search.html'"><a>검색</a></li>
                    <li class="sideBarComponent" onclick="location.href='./notice.html'"><a>게시판</a></li>
                    <li class="sideBarComponent" onclick="location.href='./SaveBox.html'"><a>보관함</a></li>
                    <li class="sideBarComponent" onclick="location.href='./랜덤웹툰페이지/랜덤웹툰페이지.html'"><a>랜덤웹툰추천</a></li>
                    <li class="sideBarComponent" onclick="location.href='./Setting.html'"><a>설정</a></li>
                </ul>
            </section>
        </div>
        <label class="moreInfo">
            <i class="bi bi-list fs-1"><input type="button"class="sideBar"></i> 
        </label>
        
        <div class ="name" onclick="setMainforweekDay();">개척웹툰</div>
        <div class = "collection">
            <i class="bi bi-collection fs-2" onclick="location.href='./SaveBox.html'"></i>    
        </div>
        <div class ="search">
            <i class="bi bi-search fs-2" onclick="location.href='./search.html'"></i>   
        </div>

        <hr class = "line">
    </header>
    <!--상단바 끝-->
    <div class="grid-set">
        <div></div> <!-- 1:1:1 화면 비율을 위한 div -->
        <div class="profile-main-screen">
            <hgroup>
                <div class="profile-title">프로필 변경</div>
                <hr class="line2">
            </hgroup>
            <main> <!--프로필 변경하는 화면-->
                <div class="profile-change">
                    <img class="profile-image-original" src="../Background/window.jpeg" alt="window" />
                    <button class="profile-change-button" onclick="Show()">이미지 선택</button>
                </div>
                <hr class="line2">
                <div class="image-select"> <!--이미지 선택-->
                    <button class="profile-cancle-button" onclick="Hidden()">닫기</button>
                    <div class="notice-text">아래 이미지 중 프로필로 설정하고 싶은 이미지를 선택하세요.</div>
                    <ul class="image-list"> <!-- 프로필 이미지 목록 -->
                        <li class="change-image">
                            <img src="../Background/sky.jpg" onclick="ChangeProfile('../Background/sky.jpg')">
                        </li>
                        <li class="change-image">
                            <img src="../Background/물결.jpeg" onclick="ChangeProfile('../Background/물결.jpeg')">
                        </li>
                        <li class="change-image">
                            <img src="../Background/홀로그램.jpg" onclick="ChangeProfile('../Background/홀로그램.jpg')">
                        </li>
                        <li class="change-image">
                            <img src="../Background/sea.jpg" onclick="ChangeProfile('../Background/sea.jpg')">
                        </li>
                        <li class="change-image">
                            <img src="../Background/window.jpeg" onclick="ChangeProfile('../Background/window.jpeg')">
                        </li>
                        <li class="change-image">
                            <img src="../Background/puppy_hat.png" onclick="ChangeProfile('../Background/puppy_hat.png')">
                        </li>
                        <li class="change-image">
                            <img src="../Background/rabbit.png" onclick="ChangeProfile('../Background/rabbit.png')">
                        </li>
                        <li class="change-image">
                            <img src="../Background/puppy_notebook.png" onclick="ChangeProfile('../Background/puppy_notebook.png')">
                        </li>
                    </ul>
                </div>
            </main>
        </div>
        <div></div> <!-- 1:1:1 화면 비율을 위한 div -->
    </div>
    <script src="../JS/profile.js"></script>
</body>
</html>