<!-- 조정미 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Webtoon Search</title>

    <!-- css -->
    <link rel="stylesheet" href="../CSS/searchPage.css" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

</head>
<body>
    <!-- <header> = 상단바-->
    <header>
        <div>
            <section class="moreInfo-icon">
    
                <label class="closeside">
                <i class="bi bi-arrow-left fs-1"><input type="button" class="closesideBar"></i> 
                </label>
    
                <div class="profile-image">
                    <a onclick="location.href='../Components/profile.html'"><img src="../Background/window.jpeg" alt="window" /></a>
                </div>
                    
                <div class="userName" onclick="location.href='../Components/rogin.html'"><u>웹프실습3팀</u></div>
                <ul class="sideBar-lists">
                    <li class="sideBarComponent" onclick="location.href='./search.html'"><a>검색</a></li>
                    <li class="sideBarComponent" onclick="location.href='./notice.html'"><a>게시판</a></li>
                    <li class="sideBarComponent" onclick="location.href='./SaveBox.html'"><a>보관함</a></li>
                    <li class="sideBarComponent" onclick="location.href='./랜덤웹툰페이지/랜덤웹툰페이지.html'"><a>랜덤웹툰추천</a></li>
                    <li class="sideBarComponent" onclick="location.href='./Setting.html'"><a>설정</a></li>
                </ul>
            </section>
        </div>
        <label class="moreInfo">
            <i class="bi bi-list fs-1"><input type="button"class="sideBar"></i> 
        </label>
        
        <div class ="name" onclick="setMainforweekDay();">개척웹툰</div>
        <div class = "collection">
            <i class="bi bi-collection fs-2" onclick="location.href='./SaveBox.html'"></i>    
        </div>
        <div class ="search">
            <i class="bi bi-search fs-2" onclick="location.href='./search.html'"></i>   
        </div>

        <hr class = "line">
    </header>
    <!--상단바 끝-->
    <div class="grid-set">
        <div></div> <!-- 1:1:1 화면 비율을 위한 div -->
        <div class="search-screen">
            <hgroup> <!-- 검색창 -->
                <div class="search-header">
                    <div class="search-input">
                        <form>
                            <input type="text" class="input-text" placeholder="검색어를 입력하세요."> <!-- 검색 입력창 -->
                            <button type="reset" class="input-reset"><i class="bi bi-x"></i></button> <!-- 검색어 입력 텍스트 지우는 버튼-->
                            <button type="submit" class="input-submit" onclick="alert('검색어가 입력되었습니다');"><i class="bi bi-search"></i></button> <!-- 검색어 전송 버튼 -->
                        </form>
                    </div>
                </div>
            </hgroup>
            <main> <!-- 인기 검색어, 추천 작품, 추천 완결, 추천 신작 -->
                <div class="popular-search"> <!-- 인기 검색어 -->
                    <div class="popular-title"><b>인기 검색어</b></div>
                    <div class="search-list">
                        <div class="search-words">1. 로맨스</div>
                        <div class="search-words">2. 판타지</div>
                        <div class="search-words">3. 웹툰</div>
                        <div class="search-words">4. 하루만</div>
                        <div class="search-words">5. 이번 생도</div>
                    </div>
                </div>
                <div class="recommend-webtoon"> <!-- 추천 작품 -->
                    <div class="recommend-webtoon-title"><b>추천 작품</b></div>
                    <div class="recommend-webtoon-list">
                        <ul class="recommend-list">
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendWebtoon/소녀의세계.png"
                                    onclick="location.href='../Components/월요웹툰/소녀의세계/소녀의세계.html'">
                                <div class="webtoon-title">소녀의 세계</div>
                                <div class="webtoon-info">모랑지(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendWebtoon/걸어서30분.png"
                                    onclick="location.href='../Components/금요웹툰/걸어서30분/걸어서30분.html'">
                                <div class="webtoon-title">걸어서 30분</div>
                                <div class="webtoon-info">이온도(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendWebtoon/곱게키웠더니짐승.png"
                                    onclick="location.href='../Components/일요웹툰/곱게키웠더니,짐승/곱게키웠더니,짐승.html'">
                                <div class="webtoon-title">곱게 키웠더니, 짐승</div>
                                <div class="webtoon-info">이른꽃, 티바/여슬기(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendWebtoon/여신강림.png"
                                    onclick="location.href='../Components/화요웹툰/여신강림/여신강림.html'">
                                <div class="webtoon-title">여신강림</div>
                                <div class="webtoon-info">야옹이(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendWebtoon/이번생도잘부탁해.png"
                                    onclick="location.href='../Components/일요웹툰/이번생도잘부탁해/이번생도잘부탁해.html'">
                                <div class="webtoon-title">이번 생도 잘 부탁해</div>
                                <div class="webtoon-info">이혜(네이버)</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="recommend-end"> <!-- 추천 완결 -->
                    <div class="recommend-end-title"><b>추천 완결</b></div>
                    <div class="recommend-webtoon-list">
                        <ul class="recommend-list">
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendEnd/AI가세상을지배한다면.png"
                                    onclick="location.href='../Components/완결웹툰/AI가세상을지배한다면/AI가세상을지배한다면.html'">
                                <div class="webtoon-title">AI가 세상을 지배한다면</div>
                                <div class="webtoon-info">POGO/HOOPA(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendEnd/비밀상자.png"
                                    onclick="location.href='../Components/완결웹툰/비밀상자/비밀상자.html'">
                                <div class="webtoon-title">비밀상자</div>
                                <div class="webtoon-info">레이카(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendEnd/수상한비밀상담부.png"
                                    onclick="location.href='../Components/완결웹툰/수상한비밀상담부/수상한비밀상담부.html'">
                                <div class="webtoon-title">수상한 비밀 상담부</div>
                                <div class="webtoon-info">149(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendEnd/웰캄투실버라이프.png"
                                    onclick="location.href='../Components/완결웹툰/웰캄투실버라이프/웰캄투실버라이프.html'">
                                <div class="webtoon-title">웰캄투실버라이프</div>
                                <div class="webtoon-info">솔녀(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendEnd/인문학적감수성.png"
                                    onclick="location.href='../Components/완결웹툰/인문학적감수성/인문학적감수성.html'">
                                <div class="webtoon-title">인문학적 감수성</div>
                                <div class="webtoon-info">교날/번암(네이버)</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="recommend-new"> <!-- 추천 신작 -->
                    <div class="recommend-new-title"><b>추천 신작</b></div>
                    <div class="recommend-webtoon-list">
                        <ul class="recommend-list">
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendNew/온에어.png"
                                    onclick="location.href='../Components/신작웹툰/온에어/온에어.html'">
                                <div class="webtoon-title">온에어</div>
                                <div class="webtoon-info">심복일(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendNew/재난소년.png"
                                    onclick="location.href='../Components/신작웹툰/재난소년/재난소년.html'">
                                <div class="webtoon-title">재난소년</div>
                                <div class="webtoon-info">코말랑(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendNew/헤어지면죽음.png"
                                    onclick="location.href='../Components/신작웹툰/헤어지면죽음/헤어지면죽음.html'">
                                <div class="webtoon-title">헤어지면 죽음</div>
                                <div class="webtoon-info">봄소희/KYMA(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendNew/후궁스캔들.png"
                                    onclick="location.href='../Components/신작웹툰/후궁스캔들/후궁스캔들.html'">
                                <div class="webtoon-title">후궁스캔들</div>
                                <div class="webtoon-info">정현/기트로우(네이버)</div>
                            </li>
                            <li>
                                <img class="webtoon-image"
                                    src="../WebtoonImages/RecommendNew/희란국연가.png"
                                    onclick="location.href='../Components/신작웹툰/희란국연가/희란국연가.html'">
                                <div class="webtoon-title">희란국연가</div>
                                <div class="webtoon-info">김수지(네이버)</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
        <div></div> <!-- 1:1:1 화면 비율을 위한 div -->
    </div>
    <script src = "../JS/search.js"></script>
</body>
</html>