<!-- 이현주 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/terms_of_service.css">
    <title>서비스 약관</title>
</head>
<body>
         <!-- <header> = 상단바-->
            <header>
               
                <h2 class ="name">개척웹툰</h2>
                <hr class = "line">
            </header>
            <!--상단바 끝-->


            <main>
                <h2 class ="webtoon">A+을 준다!</h2>
                <div>
                    <button class = "ok" onclick= "window.history.back()">
                        확인
                    </button>
                </div>
            </main>
</body>
</html>