/* 웹폰트사용 */
@font-face {
  font-family: SCDream3;
  src: url("../Fonts/S-Core_Dream_OTF/SCDream3.otf");
}
/* 색상 */
:root {
  --SkyBlue1: #DCEDFF;
  --SkyBlue2: #94b0da;
  --Blue: #454ade;
  --DarkBlue: #1B1F3B;
}

/* 전체적인 레이아웃을 그리드로 주고 최소 높이를 100vh, 최고 넓이를 100vw로 주고, 열기준 0.5:2:0.5 비율로 전체적인 틀을 완성 */
.layoutContainer {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* 모든 폰트를 웹폰트를 사용하고, 아래여백을 0.3rem을 주어 가독성에 좋도록 함 */
* {
  font-family: SCDream3;
  margin-bottom: 0.3rem;
}

/* 상단바 시작*/
.topOfTop {
  position: relative;
  margin-top: 1%;
  margin-left: 11%;
  margin-right: 11%;
  background-color: white;
  color: var(--Blue);

  padding: 0.1%;
  min-width: 500px;
}
/* 보관함 */
.collection {
  float: right;
  margin-top: 1%;
  cursor: pointer;
}
/* 검색 */
.search {
  float: right;
  margin-right: 2%;
  margin-top: 1%;
  cursor: pointer;
}

/* 사이드바 클릭버튼을 꾸미는 스타일 지정  */
.moreInfo input {
  /* 포지션 절대적요소로 변경 */
  position: absolute;
  /* 부모요소 배경색상을 물려받음 */
  background-color: transparent;
  /* 보더 삭제 */
  border: none;
  color: #454ade;
  font-size: 2rem;
  top: 1%;
  left: -1%;
  width: 6%;
}
.closeside input {
  /* 포지션 절대적요소로 변경 */
  position: absolute;
  /* 부모요소 배경색상을 물려받음 */
  background-color: transparent;
  /* 보더 삭제 */
  border: none;
  left: 10rem;
}

/* 전체적인 레이아웃을 그리드로 주고 최소 높이를 100vh, 최고 넓이를 100vw로 주고, 열기준 0.5:2:0.5 비율로 전체적인 틀을 완성 */
/* 메뉴바의 가로폭을 vw로 변경, 패딩탑과 레프트 삭제 */
.moreInfo-icon {
  /* z인덱스값을 주어 모든요소보다 먼저 보이도록 조정 */
  z-index: 1000;
  /* display를 블럭요소로 변경 크기조정을 위해 */
  display: block;
  /* 박스의 크기를 경계선을 기준으로 크기조정 */
  box-sizing: border-box;
  /* 사이드바는 픽스로 고정 */
  position: fixed;
  background-color: #94b0da;
  color: #fff;
  width: 25vw;
  height: 100%;
  top: 0;
  left: -50%;
  bottom: 0;
  transition: 1s ease;
}

/* 사이드 바 닫는 아이콘 */
.closeside {
  float: right;
  cursor: pointer;
}

/* 사이드 바 여는 아이콘 */
.moreInfo {
  position: relative;
  cursor: pointer;
  top: 0.3rem;
}

/* 프로필 */
.profile-image {
  /* 평소에는 이미지 모습을 숨김 */
  overflow: hidden;
  /* 플렉스요소를 부여하여 정중앙에 위치하는것을용이하게 설정 */
  display: flex;
  /* 세로축중간 */
  align-items: center;
  /* 가로축 중간 */
  justify-content: center;
  height: 0.01%;
  border-radius: 50%;
  padding: 30%;
  margin: 10% 20%;
  top: 0;
  left: 0;
  cursor: pointer;
  filter: contrast(170%);
  position: relative;
}
.profile-image:hover {
  filter: contrast(190%);
}
/* 프로필 사진의 높이를 부모요소의 크기의 100%만큼 적용, 트랜스폼 스타일을 이용하여 정중앙에 위치하도록 설정 */
.profile-image img {
  height: 100%;
  position: absolute;
  transform: translate(-50%,-50%);
}

/* 메뉴바 닉네임사이즈 vw로 변경, top left 요소 삭제 */
.userName {
  color: #fff;
  font-size: 3vh;
  border: none;
  /* position: absolute; */
  /* 부모요소크기만큼 가로값을 받고 그 중간에 닉네임지정 */
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.userName:hover {
  color: var(--DarkBlue);
}
/* 닉네임 밑줄 삭제 */
.userName > u {
  text-decoration: none;
}

/* 사이드바의 리스트들 절대적요소 삭제, 패딩 왼쪽값 0으로 조정, 폰트사이즈 vw로 변경  */
.sideBar-lists {
  list-style: none;
  padding-left: 0;
  font-size: 2.5vh;
}

/* 마진요소 5%로 변경 */
.sideBarComponent {
  padding: 5% 0;
  cursor: pointer;
}

/* 사이드바요소의 첫번째 요소인 검색부분 마진탑을 10%로 변경 */
.sideBarComponent:nth-child(1) {
  margin-top: 10%;
}

/* 사이드바 호버시 색상변경 */
.sideBarComponent:hover {
  background-color: #454ade;
}

.sideBarComponent > a {
  color: #fff;
  /* 밑줄삭제 */
  text-decoration: none;
  display: block;
  text-align: center;
}
/* 햄버거 아이콘 */

.bi-list,
.bi-collection,
.bi-search {
  padding: 1rem;
}

/* 개척웹툰 */
.name {
  display: inline;
  cursor: pointer;
}

/* 수평선 */
hr.line {
  width: 100%;
  margin-left: 0%;
  border-top: 1.4px solid #bbb;
  border-bottom: 0px;
}
/* 상단바 끝*/

/*웹툰 광고 부분*/
/*슬라이드 이미지 비율 고정. 디스플레이 세로 크기의 25%, 가로 크기의 100%*/
.height {
  object-fit: cover;
  height: 22vh;
  width: 100vh;
}

/* 웹툰들의 썸네일 크기 조정 */
.thumbNail {
  width: 100%;
}

/* 요일,신작,완결별웹툰 버튼 그리드로 표현 */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* 요일,신작,완결별 버튼 꾸미기 */
nav button {
  font-size: 2.1vh;
  border: 3px solid #94b0da;
  background-color: #94b0da;
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
  height: 8vh;
  width: 3.5vw;
}
/* 현재 어디웹툰요소를 가리키는지 알기위해 색깔로 구분하는 스타일요소 지정 */
nav button:nth-child(1) {
  background-color: #454ade;
  border-color: #454ade;
}
/* 요일,신작,완결 버튼부분에 마우스오버시 색상추가 */
nav button:hover {
  background-color: #454ade;
  border-color: #454ade;
}

/* 메인웹툰이미지를 그리드로 표현, 1 line 3 pics 형태로 구현 */
.webToonList-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
}

/* 이미지박스크기를 60vh로 조정 */
.webToonList {
  background-color: white;
  padding: 0.2rem;
  position: relative;
  height: 30vh;
}

/* 이미지의 높이를 부모요소에 꽉차게 맞도록 조정 */
.webToonList img {
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}

/* 메인웹툰이미지에 마우스오버시 색상, 그리고 투명도 변경 */
.webToonList img:hover {
  color: #454ade;
  opacity: 0.2;
}

.webToonList img:hover ~ .webToonInfo {
  display: inline;
}

/* 웹툰 정보 중앙정렬*/
.webToonInfo {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  display: none;
  font-size: 0.8vw;
  transform: translate(-50%, -50%);
  color: black;
}
