<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>희란국연가</title>

    <!--css-->
    <link
      rel="stylesheet"
      href="../../../CSS/신작웹툰/희란국연가/희란국연가.css"
    />

    <!-- Bootstrap -->
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"
    />

    <!-- font(google font) -->
    <!-- font-family: 'Do Hyeon', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="grid-set">
      <div></div>
      <div class="main-screen">
        <!-- 뒤로가기, 관심설정, 공유 버튼 -->
        <header>
          <div class="webtoon-button">
            <button
              type="button"
              class="pre-button"
              onclick="location.href='../newWebToonPage.html'"
            >
              <i class="bi bi-arrow-left"></i>
            </button>
            <button type="button" class="share-button" onclick="shareButton()">
              <i class="bi bi-share-fill"></i>
            </button>
            <button type="button" class="like-button" onclick="likeButton()">
              <i class="bi bi-heart"></i>
            </button>
          </div>
        </header>
        <!-- 웹툰 설명, 웹툰 보는 곳 -->
        <main>
          <div class="webtoon-start">
            <div class="webtoon-mainImage">
              <img
                class="image-size"
                src="../../../CSS/신작웹툰/mainWebToonImages/희란국연가.jpg"
              />
            </div>
            <div class="right-contents">
              <!-- 웹툰 설명 -->
              <div class="webtoon-explain">
                <div class="webtoon-title">희란국연가</div>
                <div class="webtoon-writer">
                  김수지 / MIDNIGHT STUDIO | 신작웹툰
                </div>
                <div class="webtoon-score">★ 9.97</div>
                <div class="webtoonHashTag">#스토리 #로맨스</div>
              </div>
              <!-- 첫편부터 보기, 이어보기 버튼 -->
              <div class="watch-button">
                <button type="button" class="start-button" onclick="location.href='https://comic.naver.com/webtoon/detail?titleId=783539&no=1&weekday=fri'">첫편부터 보기</button>
                <button type="button" class="continue-button" onclick="reloadButton()">이어보기</button>
              </div>
            </div>
          </div>
          <div class="line"></div>
          <!-- 웹툰 설명과 웹툰 리스트 구분 선 -->
          <!-- 웹툰 리스트(액자형) -->
          <div class="watch-webtoon">
            <div class="button-line">
              <div class="webtoon-num">
                <!-- 해당 웹툰 전체 회차 수-->
                전체(5)
              </div>
              <div class="select-sequence">
                <!-- 처음부터/최신편부터 보기 중 선택-->
                <select name="sequence" class="sequence">
                  <option value="new">최신편부터</option>
            
                </select>
              </div>
            </div>
            <div class="line"></div>
            <!-- 선택 부분과 웹툰 리스트 구분선 -->
            <div class="webtoon-view">
              <!-- 웹툰 목록 -->
              <!-- 웹툰 리스트 배열 유동적으로 변경 필요 -->
              <ul class="wetoon-list">
                <!-- 희란국연가 5화 -->
                <li class="webtoon">
                  <a
                    href="https://comic.naver.com/webtoon/detail?titleId=783539&no=5&weekday=fri"
                  >
                    <div id="webtoonImage" class="webtoon-image-5">
                      <p class="webtoon-info">5화</p>
                    </div>
                  </a>
                </li>
                <!-- 희란국연가 4화 -->
                <li class="webtoon">
                  <a
                    href="https://comic.naver.com/webtoon/detail?titleId=783539&no=4&weekday=fri"
                  >
                    <div id="webtoonImage" class="webtoon-image-4">
                      <p class="webtoon-info">4화</p>
                    </div>
                  </a>
                </li>
                <!-- 희란국연가 3화 -->
                <li class="webtoon">
                  <a
                    href="https://comic.naver.com/webtoon/detail?titleId=783539&no=3&weekday=fri"
                  >
                    <div id="webtoonImage" class="webtoon-image-3">
                      <p class="webtoon-info">3화</p>
                    </div>
                  </a>
                </li>
                <!-- 희란국연가 2화 -->
                <li class="webtoon">
                  <a
                    href="https://comic.naver.com/webtoon/detail?titleId=783539&no=2&weekday=fri"
                  >
                    <div id="webtoonImage" class="webtoon-image-2">
                      <p class="webtoon-info">2화</p>
                    </div>
                  </a>
                </li>
                <!-- 희란국연가 1화 -->
                <li class="webtoon">
                  <a
                    href="https://comic.naver.com/webtoon/detail?titleId=783539&no=1&weekday=fri"
                  >
                    <div id="webtoonImage" class="webtoon-image-1">
                      <p class="webtoon-info">1화</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </main>
      </div>
      <div></div>
    </div>
    <script src="../../../JS/신작웹툰/서브신작웹툰공통JS.js"></script>
  </body>
</html>
